@import "tailwindcss";

/* lock browser rendering to light */
html { 
  color-scheme: dark !important;  /* affects form controls/scrollbars */
}

@theme {
  /* ========== COLORS ========== */
  --color-current: currentColor;
  --color-transparent: transparent;
  --color-white: #FFFFFF;
  --color-black: #121723;
  --color-dark: #1D2430;
  --color-primary: #4A6CF7;
  --color-yellow: #FBB040;
  --color-body-color: #788293;
  --color-body-color-dark: #959CB1;
  --color-gray-dark: #1E232E;
  --color-gray-light: #F0F2F9;
  --color-stroke: #E3E8EF;
  --color-stroke-dark: #353943;
  --color-bg-color-dark: #171C28;

  /* ========== BOX SHADOWS ========== */
  /* (camelCase -> kebab-case so classes are valid) */
  --shadow-sign-up: 0px 5px 10px rgba(4, 10, 34, 0.2);
  --shadow-one: 0px 2px 3px rgba(7, 7, 77, 0.05);
  --shadow-two: 0px 5px 10px rgba(6, 8, 15, 0.1);
  --shadow-three: 0px 5px 15px rgba(6, 8, 15, 0.05);
  --shadow-sticky: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  --shadow-sticky-dark: inset 0 -1px 0 0 rgba(255, 255, 255, 0.1);
  --shadow-feature-2: 0px 10px 40px rgba(48, 86, 211, 0.12);
  --shadow-submit: 0px 5px 20px rgba(4, 10, 34, 0.1);
  --shadow-submit-dark: 0px 5px 20px rgba(4, 10, 34, 0.1);
  --shadow-btn: 0px 1px 2px rgba(4, 10, 34, 0.15);
  --shadow-btn-hover: 0px 1px 2px rgba(0, 0, 0, 0.15);
  --shadow-btn-light: 0px 1px 2px rgba(0, 0, 0, 0.1);

  /* ========== DROP SHADOWS ========== */
  --drop-shadow-three: 0px 5px 15px rgba(6, 8, 15, 0.05);

    /* ===== Container   ===== */
  --container-padding: 1rem;
  --container-center: true; /* Tailwind reads this automatically */

  /* ===== Breakpoints ===== */
  --breakpoint-xs: 450px;   /* @media (min-width: 450px) */
  --breakpoint-sm: 575px;   /* @media (min-width: 575px) */
  --breakpoint-md: 768px;   /* @media (min-width: 768px) */
  --breakpoint-lg: 992px;   /* @media (min-width: 992px) */
  --breakpoint-xl: 1200px;  /* @media (min-width: 1200px) */
  --breakpoint-2xl: 1400px; /* @media (min-width: 1400px) */
}


body {
    font-family: "Inter", sans-serif;
  }

.container{
    margin: 0 auto;
  }


  @layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}
